
<!-- Topbar -->
        <nav class="navbar navbar-expand  topbar mb-4 static-top shadow" >

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

           

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" onclick="" id="usr_setting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user " style="color:rgb(77, 77, 77)"></i>
                <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
              </a>
              <!-- Dropdown - User Information -->
              <div  class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="usr_setting">
                <div id="user_profile"></div>
                
              </div>
            </li>
            
          </ul>

        </nav>
        <!-- End of Topbar -->
        <div class="modal fade" id="modal_cc_employee_usr" >
          <div class="modal-dialog modal-lg" >
              <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header" id="head_stage">
                      <h4 class="modal-title">ข้อมูลพนักงาน</h4>
                      <button type="button" onclick="" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  
                  <form id="frm_cc_employee" enctype="multipart/form-data">
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="e_name">ชื่อ <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <input type="text" class="form-control" id="e_name" name="e_name" oninvalid="this.setCustomValidity('ชื่อ')"required oninput="this.setCustomValidity('')" placeholder="ชื่อ">
                                  </div>
                              </div>
                              <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="e_lname">สกุล <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <input type="text" class="form-control" id="e_lname" name="e_lname" oninvalid="this.setCustomValidity('สกุล')"required oninput="this.setCustomValidity('')" placeholder="สกุล">
                                  </div>
                              </div>
                              <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="e_tel">เบอร์โทร <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <input type="text" maxlength="10" class="form-control" id="e_tel" name="e_tel" oninvalid="this.setCustomValidity('เบอร์โทร')"required oninput="this.setCustomValidity('')" placeholder="เบอร์โทร">
                                  </div>
                              </div>
                              <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="ps_id_usr">ตำแหน่ง <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <div id="hidden"></div>
                                      <select class="form-control" id="ps_id_usr" name="ps_id_usr" required></select>                        
                                  </div>
                              </div>
                  <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="pv_id_usr">จังหวัด <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <div id="hidden"></div>
                                      <select class="form-control" id="pv_id_usr" name="pv_id_usr" required></select>                        
                                  </div>
                              </div>
                              <div class="col-md-12 mb-12">
                                  <label class="cv_keep-left" for="e_address">ที่อยู่</label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <textarea class="form-control" rows="3" id="e_address" name="e_address" placeholder="ที่อยู่"></textarea>                        
                                  </div>
                              </div>
                              <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="e_username">username <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <input type="text" class="form-control" id="e_username" name="e_username" oninvalid="this.setCustomValidity('username')"required oninput="this.setCustomValidity('')" placeholder="username">
                                  </div>
                              </div>
                              <div class="col-md-6 mb-6">
                                  <label class="cv_keep-left" for="e_password">password <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <input type="password" class="form-control" id="e_password" name="e_password" oninvalid="this.setCustomValidity('password')"required oninput="this.setCustomValidity('')" placeholder="password">
                                  </div>
                              </div>
                              <div class="col-md-12 mb-12">
                                  <label class="cv_keep-left" for="confirm_e_password">confirm password <span style="color:red">*</span></label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                      </div>
                                      <input type="password" class="form-control" id="confirm_e_password" name="confirm_e_password" oninvalid="this.setCustomValidity('confirm password')"required oninput="this.setCustomValidity('')" placeholder="confirm password">
                                  </div>
                              </div>
                          </div>
                          
                          
                          <div id="frm"></div>
                          <div id="msg"></div>
                      </div>
                  
                      <!-- Modal footer -->
                      <div class="modal-footer col-sm-12" id="modal_cc_employee_foot">	
                          <div id="mng_usr"></div>
                      </div>
                  </form>
              </div>
      
          </div>
      </div>
<!-- <script src="./js/sb-admin-2.min.js"></script> -->
<script type="text/javascript">
	var link_page_usr=link+"/cc_employee.php";

  load_user();
  $("#confirm_e_password").keyup(function(){
        if($("#e_password").val()!=$("#confirm_e_password").val()){
            $("#btn_save").prop('disabled', true)
        }else{
            $("#btn_save").prop('disabled', false)
        }    
  });
  function load_user(){
      let txt="";
      $.ajax({
        type:"POST",
        url:link_page_usr,
        data:{
          "load_e_name":true,
        }
      }).done((res)=>{
        var data=JSON.parse(res);
        txt=`
        
                <a class="dropdown-item" href="#" onclick="sh_data_usr('${data[0].e_id }','${data[0].e_name}','${data[0].e_lname}','${data[0].ps_id}','${data[0].ps_name}','${data[0].e_address}','${data[0].e_tel}','${data[0].e_username}','${data[0].e_password}','${data[0].pv_id}','${data[0].pv_name}')">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>${data[0].e_name} ${data[0].e_lname}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  ออกจากระบบ
                </a>
        `;
        load_cc_position_nav();
        load_cc_province_nav();
        $("#user_profile").html(txt);
      });
  }
  function update_usr(){
			$("#msg").html("");
			let f_data=new FormData();
			let data = $("#frm_cc_employee").serializeArray();
			$.each(data,(key,val)=>{
        if(val.name!="pv_id_usr" || val.name!="ps_id_usr"){
          if((val.name=="e_password" || val.name=="confirm_e_password") && val.value!="" ){
            val.value=re_encode(val.value);
          }
          f_data.append(val.name,val.value);
        }
        
			});
			f_data.append("cc_employee_update",true);
      f_data.append("pv_id",$("#pv_id_usr").val());
      f_data.append("ps_id",$("#ps_id_usr").val());

			event.preventDefault();

				$.ajax({
					type: "POST",
		 			url:link_page_usr,
		 			data: f_data,
					contentType: false,
					processData: false,
				}).done((res)=> {
					let data=JSON.parse(res);
					if(data.status){
						$("#modal_cc_employee_usr").modal('toggle');
						load_user();
						clear_input_usr();
					}else{
						$("#msg").html("<div style='color:#bd4646'>"+data.msg+"</div>");
					}
				});	
	}	
  function load_cc_position_nav(){
		let txt=`<option value="01" selected disabled>เลือกตำแหน่งพนักงาน</option>`;
		$("#loading").show();
		$.ajax({
			type:"POST",
			url:link+"/cc_position.php",
			data:{
				"load_cc_position":true,
			}
		}).done((res)=>{
			var data=JSON.parse(res);
			if(!data.msg){
				$.each(data,(i, item)=>{
					txt+=`<option value="${item.ps_id}">${item.ps_name}</option>`;
				});
			}
			$("#loading").hide();
			$("#ps_id_usr").html(txt);
		});
	}
	function load_cc_province_nav(){
		let txt=`<option value="01" selected disabled>เลือกจังหวัดพนักงาน</option>`;
		$("#loading").show();
		$.ajax({
			type:"POST",
			url:link+"/cc_province.php",
			data:{
				"load_cc_province":true,
			}
		}).done((res)=>{
			var data=JSON.parse(res);
			if(!data.msg){
				$.each(data,(i, item)=>{
					txt+=`<option value="${item.pv_id}">${item.pv_name}</option>`;
				});
			}
			$("#loading").hide();
			$("#pv_id_usr").html(txt);
		});
	}
  function clear_input_usr(){
		$("#hidden").html('');
		$("#e_name").val('');
    $("#e_lname").val('');
    $("#ps_id_usr").val('');
		$("#pv_id_usr").val('');

    $("#e_address").val('');
    $("#e_tel").val('');
    $("#e_username").val('');
    $("#e_password").val('');
    $("#confirm_e_password").val('');
		$("#frm_cc_employee").removeClass("was-validated");
    $("#msg").html('');
	}
  function sh_data_usr(e_id,e_name,e_lname,ps_id,ps_name,e_address,e_tel,e_username,e_password,pv_id,pv_name){
    
		clear_input_usr();
		let txt=`
    <button id="btn_del" data-dismiss="modal" data-toggle="modal" data-target="#del_modal" type="button" class="btn btn-danger" data-dismiss=""><i class="fas fa-trash-alt fa-1x"></i> ลบ</button>
		<button id="btn_save" onclick="update_usr()" type="button" class="btn btn-success" data-dismiss=""><i class="fas fa-save fa-1x"></i> บันทึก</button>`;
		let hiden=`<input type="hidden" name="e_id" id="e_id" value="${e_id}">`;
		$("#hidden").html(hiden);
		$("#e_name").val(e_name);
    $("#e_lname").val(e_lname);
    $("#ps_id_usr").val(ps_id);
		$("#pv_id_usr").val(pv_id);
    $("#e_address").val(e_address);
    $("#e_tel").val(e_tel);
    $("#e_username").val(e_username);

		$("#modal_cc_employee_usr").modal('toggle');
		$("#mng_usr").html(txt);
	}
  // 
</script>